body {
    line-height: 1.85;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

h4 {
    font-weight: bold;
    font-size: 1.5rem;

}

.background__color {
    background-color: $background-color;
}

// main button in file
.main_btn2 {
    @extend %button;
    background: #f9f9ff;
    border: 1px solid #ddd;
    cursor: pointer;
    color: black;
}

.main_btn {
    @extend %button;
    background-image: -webkit-linear-gradient(0deg, #bc2bff 0%, #7249fb 100%);
    // border: 1px solid #ddd;
    cursor: pointer;
    color: $textcolor;
}

//nav bar 
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header_area .navbar .nav .nav-item .nav-link {
    text-transform: uppercase;
    color: $btnColor;
    display: inline-block;
    justify-content: flex-end;
}

nav {
    background-image: -webkit-linear-gradient(0deg, rgba(188, 43, 255, .8) 0%, rgba(114, 73, 251, .8) 100%);
}

// -----------------------------------------------------------
// banner section 
.home_banner {
    @include background-image ($brandbanner);
    color: $textcolor;
}

.banner_content {
    overflow: hidden;
    width: 100%;
    // padding: 170px 0 140px 0;
}

.banner_btn {
    @extend %button;
    background-color: $textcolor;
    cursor: pointer;
    color: black;
}

// ---------------------------------------------------
// features section

.Features_title {
    margin-bottom: 75px;
}

.Features {
    @extend %section_padding;
}

.Features__item {
    padding: 50px 30px;

    p {
        color: $text;
    }
}

.Features__item {
    @include box-shadow(5px, 4.5px, 9.5px, 0, lighten($headercolor, 73%));
}

h2 {
    @include headerH2
}

img {
    padding: .8rem;
}

// ---------------------------------------------------
// Interior section 
.interior_p {
    font-size: 3rem;
}

.Interior {
    @extend %section_padding;
}

// --------------------------------------------------------
// pricing section
.Pricing {
    @extend %section_padding;

    .Pricing__Table__header {
        border-bottom: 1px solid $bordercolr;
    }

    .price_body {
        padding: 2rem 0;
    }

    .list {
        margin-bottom: 2rem;
    }

    .Pricing__Table_title {
        margin-bottom: 75px;
    }
}

.price_body li a {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: #777;
}

a {
    text-decoration: none;
}

// ------------------------------------------------------------
// Testimonials section

.Testimonials {
    @extend %section_padding;
}

// ------------------------------------------------------------
// Screenshots section
.Screenshots {
    @extend %section_padding;
}

.video_area {
    text-align: center;
}

// ------------------------------------------------------------
// Download App section

.Download__App {
    @extend %section_padding;
    background-image: -webkit-linear-gradient(0deg, #bc2bff 0%, #7249fb 100%);
    color: $btnColor;

    h2 {
        color: $btnColor;
    }
}


// ------------------------------------------------------------
// Latest News section

.Latest__News {
    @extend %section_padding;

    .l_news_item {
        background: #f9f9ff;
        padding: 60px 30px;
        border-radius: 5px;
    }

    h4 {
        color: black;
        text-transform: uppercase;
        padding: 1rem 0rem;
    }

    p {
        color: $text;
    }

    .date {
        background: $btnColor;
        color: #777;
        border: 1px solid #ddd;
        padding: 0 18px;
        display: inline-block;
        line-height: 28px;
        border-radius: 3px;
    }
}

// ------------------------------------------------------------
// footer
footer {
    @extend %section_padding;
    background-color: $footerBackground;
    color: $btnColor;

    li a {
        color: $btnColor;
    }

    h6 {
        text-transform: uppercase;
        font-size: 1.5rem;
    }

    p {
        color: $text;
    }
}
.footer__btn {
    background-image: -webkit-linear-gradient(0deg, #bc2bff 0%, #7249fb 100%);
    padding: .5rem 1.8rem;
    text-align: center;
    border-radius: 59px;    
    border: none;
    cursor: pointer;
    color: $textcolor;
}

// -----------------------------------------
// media query
@media (min-width: 1200px) {
    .fs-1 {
        font-size: 5.5rem !important;
    }
}
@media (min-width : 576px)
{
   .l_news_item , .Features__item {
        margin: 1rem;
    }
    .Screenshots__title{
        text-align: center;
    }
}