$vendors: "-moz-",
"-webkit-",
"-o-",
"-ms-",
"";
$brandbanner: "../Assests/img/banner/home-banner.jpg";
$primarycolor: red;
$textcolor: white;
$black: #000;
$headercolor: #222;
$text: #777;
$background-color:#f9f9ff;
$bordercolr:#eee;
$footerBackground: #222;
$btnColor :#fff;