    @import '_variables1';
    @import '_mixins1';
    @import '_base';
    
    

    .background__color {
        background-color: $background-color;
    }
    
    
    .Download__App {
        @extend %section_padding;
        background-image: -webkit-linear-gradient(0deg, #bc2bff 0%, #7249fb 100%);
        color: $btnColor;

        h2 {
            color: $btnColor;
        }
    }
    .Latest__News {
        @extend %section_padding;

        .l_news_item {
            background: #f9f9ff;
            padding: 60px 30px;
            border-radius: 5px;
        }

        h4 {
            color: black;
            text-transform: uppercase;
            padding: 1rem 0rem;
        }

        p {
            color: $text;
        }

        .date {
            background: $btnColor;
            color: #777;
            border: 1px solid #ddd;
            padding: 0 18px;
            display: inline-block;
            line-height: 28px;
            border-radius: 3px;
        }
    }

    .Testimonials {
        @extend %section_padding;
    }

    .Screenshots {
        @extend %section_padding;
    }

  

    .video_area {
        text-align: center;
    }

    @media (min-width: 1200px) {
        .fs-1 {
            font-size: 5.5rem !important;
        }
    }